{
    "data" : {
        "filePath": "orders_attendees.csv"
    },

    "eventbrite" : {
        "privateKey" : "{Your Evendbrite Private Key}",
        "eventId" : "{Your Evendbrite Event ID}"
    },

    "discord" : {
        "privateKey" : "{Your Discord Private Key}",
        "roleForValidUser" : "{Discord Role Name for Valid User}",
        "observation": [{observation channels}]
    },

    "invitation" : {
        "filePath" : "./resource/invitation_sfo2021.yaml"
    }
}
