{
  "discord": {
    "privateKey": "Bot TOKEN for your Application in Discord DEVELOPER PORTAL",
    "roleForValidUser": "Name of the role to add to the userrole name",
    "observation": [
      "Chennel name to be observed"
    ]
  },
  "googlespreadsheet": {
    "sheetid": "Sheet ID from Google spreadsheet shared URL",
    "sheetname": "sheet name in spreadsheet",
    "orderrange": {
      "description": "Column range with the reception number.",
      "startRowIndex": 0,
      "endRowIndex": 500,
      "startColumnIndex": 0,
      "endColumnIndex": 0
    },
    "acceptrange": {
      "description": "Column range to enter the ID of the registered discord.(For more than two columns, make sure it works.)",
      "startRowIndex": 0,
      "endRowIndex": 500,
      "startColumnIndex": 1,
      "endColumnIndex": 1
    },
    "credentials": {
      "type": "ex. service account",
      "project_id": "youre project id",
      "private_key_id": "1234567890abcdef1234567890abcdef12345678"
    }
  }
}
